* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Kalam', cursive;
	font-size: 25px;
	line-height: 160%;
}
ul {
	list-style: none;
}
h2, h3 {
	margin-bottom: 50px;
	font-family: 'Bree Serif', serif;
	font-size: 60px;
}
h3 {
	font-size: 30px;
	-webkit-margin-after:0;
	font-weight: lighter;
}
a {
	text-decoration: none;
}
#main {
	border-right: 4px solid black;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)) ,url(../images/main.jpg);
	background-size: cover;
	background-position: center;
	width:30%;
	height: 100vh;
	float: left;
	position: fixed;
}

#main div {
	background-color: rgba(0,0,0,0.7);
	width: 35%;
	position: absolute;
	bottom: 10px;
}

#main img {
	height: 134px;
	width: 120px;
	margin: 10px;
	margin-bottom: 0;
}

#main figcaption {
	font-size: 20px;
	margin-left: 10px;
	color: white;
}
#main ul {
	width: 65%;
	position:absolute;
	bottom: 20px;
	right: 0px;
}
#main ul li {
	background-color: rgba(0,0,0,0.7);
	margin-bottom: 7px;
}
#main ul li a:hover{
	background-color: rgba(1,1,1,0.9);
	color: red;
	padding-left: 90px;
}
#main ul a {
	font-family: 'Berkshire Swash', cursive;
	padding: 5px 10px;
	color: white;
	display: block;
	transition: background-color 2s, color 5s;
}
.right{
	float: right;
	width: 70%;
	
}
.container {
	height: 100vh;
	padding: 100px 120px 20px;
}
#about_me p {
	text-align: justify;
}
#skills div>div {
	background-color: rgba(0,0,250,0.45);
}
#skills span {
	text-align: right;
	display: block;
	height: 35px;
}
	
.p75 {
	width: 75%;
	background-color: blue;
}
.p40 {
	width: 40%;
	background-color: blue;
}


.follow_me {
	margin-top: 50px;
}

.follow_me li {
	height: 45px;
	width: 45px;
	position: relative;
	display: inline-block;
}

.follow_me li img {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.follow_me li .fa {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
